/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 sept 2023, 11:03:58
    Author     : josep
*/
*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 45px 20px 0px;
    background-color: blanchedalmond;
}
.header{
    background-color:burlywood;
    height: 12%;
    top:0;
    left:0;
    width: 100%;
    position: fixed;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin:0 auto;
}
.nav-link{
    color:white;
    text-decoration: none;
}
.logo{
    color:white;
    font-size: 35px;
    font-weight: bold;
    line-height: 70px;

}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.Titulo{
    font-size: 15px;
    margin: 0 8px;
    line-height: 80px;
    width: max-content;
}
.nav-menu-link{
    padding: 5px 10px;
    border-radius: 20px;
}
.nav-menu-link:hover{
    background-color:brown;
    transition: 0.7s;
}

#contenido{
    position: absolute;
    height:88%;
    top:12%;
    width: 100%;
    padding:10px;
}
.Bienvenida{
    color:chocolate;
    text-align: center;
}
.presentacion{
    color:#774e00;
    border-style:solid;
}
